.task-title-style {
	font-size: 18px;
    margin: 0;
    color: black;
}

.scope-icon-style {
	margin : 0 8px;
	font-size: 14px;
}

.duration-style {
	margin: 0 5px;
}

.tasklist-container {
	border: 1px solid rgb(238,238,238);
    margin: 12px;
    padding: 12px;
}