.add-project-button {
	width: 35px;
    padding: 0;
    font-size: 17px;
    border-radius: 50%;
    height: 35px;	
    text-align: center;
}

.add-project-container {
	text-align: right;
	margin-right: 5%;
	margin : 0 auto !important;
	max-width : 1024px !important;
}

.range-picker {
	width : 100% !important;
}

.search-by-date {
	width: 30% !important;
}