.search-container {
    width: 100%;
    max-width: 1024px !important;
    padding:  0;
    margin : 0 auto;
}

.master-search {
	width: 30%;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    height: 30px;
    padding: 8px;
    float: right;
}

.search-heading {
	float: right;
    /* width: 70%; */
    padding: 8px;
    font-size: 14px;
}