.reset-password {

	border : 1px solid rgb(238,238,238);
	padding: 16px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px;

	width: 400px;
	top: 50%;
    left: 50%;
    margin:0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.list-group-item-signIn {
	display : block;
	border : none;
	float: right;
}

.reset-password-heading {
	text-align: center !important;
	padding-left: 0 !important;
}