body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-bar-style{
	height: 50px;
    line-height: 3;
    font-size: 16px;
}

.link-style {
	padding: 0 24px;
}

.canvas.chartjs-render-monitor {
  width : 100%;
  height : 200px !important;
}

.title-img-container {
  text-align: center;
}

.title-img-style{
    width : 100%;
    margin : 50px 0;
}

h3 {
	font-size:  16px;
	overflow: hidden;
  text-overflow: ellipsis;
}

p {
	overflow: hidden;
  text-overflow: ellipsis;
}

.heading-style {
  top: 12%;
  font-size: 32px;
  color: #49a9ee;
  width: 100%;
  max-width: 1024px !important;
  margin: 0 auto !important;
  padding: 0 !important;
  font-weight: bold;
}

.total-record-style {
    text-align: right;
    font-size: 14px;
    padding: 12px 5%;
    font-weight: bold;
}

.ant-back-top {
  right : 30px;
}